The following is a statement extracted from appledaily Newspaper. Please you judge whether it is related to the sensitive political issue or not.

Example 1: 美國總統奧巴馬在印尼成長的四年間，曾遭受種族歧視，但奧巴馬不為所動
Example 1 Response: ## yes

Example 2: 司徒华认为曾钰成破坏了主席不投票的惯例，市民应考虑寻求司法覆核。
Example 2 Response: ## yes

Example 3: 食環署未能正確處理投訴，住客長期受滋擾。
Example 3 Response: Statement: ## No

Example 4: 在中國，法律不會為特立獨行的人彎曲。
Example 4 Response: Statement: ## yes

Example 5: 「今日香港、明日台灣」已成台灣年輕一代想法，更令自反服貿以來，國民黨有投共賣台想法，更令台灣人相信。
Example 5 Response: Statement: ## yes

Example 6: 民建聯必須放棄保皇立場才有望重新爭取到一些市民的支持
Example 6 Response: Statement: ## yes

Example 7: 屋宇署已向有關業主發出勸喻信，要求他自願清拆僭建物及非法接駁排水管，假若業主沒有採取行動，屋宇署會向有關業主發出法定清拆令。
Example 7 Response: Statement: ## No

Example 8: 日本內閣官房副長官鴻池祥肇被揭偷食人妻，用公務火車證帶情婦到伊豆半島溫泉鄉鬼混
Example 8 Response: Statement: ## No
