The following is a statement extracted from appledaily Newspaper. Please you point out who said the statement.

Example 1: 美國總統奧巴馬在印尼成長的四年間，曾遭受種族歧視，但奧巴馬不為所動
Example 1 Response: There's no information about the speaker of this sentence. ## unknown

Example 2: 司徒华认为曾钰成破坏了主席不投票的惯例，市民应考虑寻求司法覆核。
Example 2 Response: Since the statement includes "认为" (believe), it was likely said by 司徒华. ## 司徒华

Example 3: 在中國，法律不會為特立獨行的人彎曲。
Example 3 Response: The statement lacks attribution to a specific source. ## unknown

Example 4: 「今日香港、明日台灣」已成台灣年輕一代想法，更令自反服貿以來，國民黨有投共賣台想法，更令台灣人相信。
Example 4 Response: The source of this statement is unspecified. ## unknown

Example 5: 民建聯必須放棄保皇立場才有望重新爭取到一些市民的支持
Example 5 Response: The origin of this statement is not provided. ## unknown

Example 6: 日本內閣官房副長官鴻池祥肇被揭偷食人妻，用公務火車證帶情婦到伊豆半島溫泉鄉鬼混
Example 6 Response: The speaker of this statement is not identified. It is just involving 鴻池祥肇. ## unknown

Example 7: 馬英九表示，他會傾聽人民的聲音，並改進不良之處，但施政方向是正確的。
Example 7 Response: The statement, "他會傾聽人民的聲音，並改進不良之處，但施政方向是正確的" was said by 馬英九. ## 馬英九

Example 8: 麻生太郎表達對日本殖民統治和侵略的「深刻反省和由衷的歉意」。
Example 8 Response: The news reports a statement regarding 麻生太郎's attitude towards invasion, but it's summarized by others rather than directly attributed to 麻生太郎. ## unknown